<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8c6b6c9-f0cd-4446-832d-747a58cce79a/resourcegroups/TodoApi20220619174251ResourceGroup/providers/Microsoft.Web/sites/TodoApi20220619174251</ResourceId>
    <ResourceGroup>TodoApi20220619174251ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/d8c6b6c9-f0cd-4446-832d-747a58cce79a/resourceGroups/TodoApi20220619174251ResourceGroup/providers/Microsoft.ApiManagement/service/TodoApiapiDP/apis/TodoApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapi20220619174251.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0ea823ee-fac1-49d8-98fe-1790487842b7</ProjectGuid>
    <MSDeployServiceURL>todoapi20220619174251.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoApi20220619174251</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TodoApi20220619174251</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>